.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    border:solid 2px;
    border-radius: 5px;
    margin: 50px;
    
  
  }

  .boxMain{
    margin: 30px;
    border: solid 0.5px;
    border-radius: 5px;

  }

  h3{
    margin-top: 15px;
    margin-left: 15px;
    font-size: small;
  }

  p{
    font-size: small;
    margin-left: 15px;
  }